<!DOCTYPE html>
<html>
    <head>
	{% load staticfiles %}
        <title>可达物流管理系统</title>
	<script src="//upcdn.b0.upaiyun.com/libs/jqueryui/jquery.ui-1.9.0.min.js"></script>
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<!-- 引入 Bootstrap -->
	<link href="http://apps.bdimg.com/libs/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
	<style type="text/css" src="{% static 'bootstrap/css/bootstrap.css' %}"></style>
    </head>
    
	<body>
	
	<!-- Navigation Bar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		    <div class = "navbar-header"> 
			<a class = "navbar-brand"> <h2>欢迎使用可达物流管理系统！ </h2></a> </div>
			<ul class="nav navbar-nav">  
				<li class="acitve"><a href="/">首頁 </a></li>
				<li class="acitve"><a href="/user_profile">仪表盘</a></li>
				<li><a href="/logout">登出</a></li>
			</ul>
		</div>
	</nav>
       	
	<div>
	<h3>创建快递单</h3>
	<h4>(*)为必填项</h4>
	<div class="panel-body">
        <form action="/create_order/" method="post">
            {% csrf_token %}
	<div>
            收件人姓名(*): <input type="text" name="receiver_name"><br>
            收件人地址(*): <input type="text" name="receiver_address"><br>
            收件人邮编(*): <input type="text" name="receiver_postcode"><br>
            收件人公司: <input type="text" name="receiver_company_name"><br>
            收件人联系方式(*): <input type="text" name="receiver_phone_number"><br>
	</div>
	<br>
	<div>
            寄件人姓名(*): <input type="text" name="sender_name"><br>
            寄件人地址(*): <input type="text" name="sender_address"><br>
            寄件人邮编(*): <input type="text" name="sender_postcode"><br>
            寄件人公司: <input type="text" name="sender_company_name"><br>
            寄件人联系方式(*): <input type="text" name="sender_phone_number"><br>
	</div>
	<br>
	<div>
			订单价格: <input type="text" name="package_price"><br>
            重量: <input type="text" name="package_weight"><br>
            当前状态: 
            <select name="package_current_status">
    			<option value="initial">初始</option>
    			<option value="shipping">转运中</option>
    			<option value="delivered">送达</option>
  			</select><br>
            当前地点: <input type="text" name="package_current_location"><br>
	</div>

            <input class="btn btn-primary" type="submit" value="提交">
        </form>
	
	</div>    
	</div>
    </body>
</html>
