<!DOCTYPE html>
<html>
    <head>
	{% load staticfiles %}
        <title>可达物流管理系统</title>
	<script src="//upcdn.b0.upaiyun.com/libs/jqueryui/jquery.ui-1.9.0.min.js"></script>
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<!-- 引入 Bootstrap -->
	<link href="http://apps.bdimg.com/libs/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
	<style type="text/css" src="{% static 'bootstrap/css/bootstrap.css' %}"></style>



	<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
	    $(document).ready(function(){
	      $('#all').click(function(){
	        $.ajax({
			    type: "GET",
			    url: "/ajax_all/",
			    dataType: "json",
			    success: function (data) {
			    	var content = generateTable(data);
			        $('#dashboard').html(content);
			    }
			});
	      })
	      $('#inital').click(function(){
	        $.ajax({
			    type: "GET",
			    url: "/ajax_inital/",
			    dataType: "json",
			    success: function (data) {
			    	var content = generateTable(data);
			        $('#dashboard').html(content);
			    }
			});
	      })
	      $('#shipping').click(function(){
	          $.ajax({
			    type: "GET",
			    url: "/ajax_shipping/",
			    dataType: "json",
			    success: function (data) {
			    	var content = generateTable(data);
			        $('#dashboard').html(content);
			    }
			});
	      })
	      $('#delivered').click(function(){
	          $.ajax({
			    type: "GET",
			    url: "/ajax_delivered/",
			    dataType: "json",
			    success: function (data) {
			    	var content = generateTable(data);
			        $('#dashboard').html(content);
			    }
			});
	      })
	    });
		
		function generateTable(data) {
				var content = '<table class="table" id="dashboard">';
		    	content += "<caption>订单列表</caption>";
		    	content += "<thead>";
		    	content += "<tr> <th> </th><th>ID</th><th>发件人</th><th>收件人</th><th>包裹位置</th><th>包裹状态</th><th>订单更新日期</th><th>订单创建日期</th></tr>";
		    	
		  		content += "</thead>";

		  		content += "<tbody>";
		      	
		        $.each(data, function (varvalue, order){
		            //console.log(order['order_id']);
		          	//content += '<tr id="' + 'dashboard' + '">';
		          	content += '<td>  <a class="btn" href="/order_info/?order_id=' + order['order_id'] +'">查询</a></td>'
		          	content += '<td>' + order['order_id'] + '</td>';
		          	content += '<td>' + order['sender'] + '</td>';
		          	content += '<td>' + order['receiver'] + '</td>';
		          	content += '<td>' + order['location'] + '</td>';
		          	content += '<td>' + orderStatusConvertChinese(order['status']) + '</td>';
		          	content += '<td>' + order['create_time'] + '</td>';
		          	content += '<td>' + order['update_time'] + '</td>';
		          	content += '</tr>';
		        });  
		        content += "</tbody>";
		        content += "</table>";
		        return content;
		}

	</script>

	<script type="text/javascript">
		function orderStatusConvertChinese(status) {
			if (status == 'initial') {
				return '初始接单';
			}
			else if (status == 'shipping') {
				return '转运中';
			}
			else {
				return '已完成';
			}
		}
	</script>

    </head>
    
	<body>
	
	<!-- Navigation Bar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		    <div class = "navbar-header"> 
			<a class = "navbar-brand"> <h2>欢迎使用可达物流管理系统！ </h2></a> </div>
			<ul class="nav navbar-nav">  
				<li class="acitve"><a href="/">首頁 </a></li>
				<li><a href="/logout">登出</a></li>
			</ul>
		</div>
	</nav>
	
	<div class="well well-lg">
        <p>This is your profile, {{ user.email }}.</p>
        <div><a class="btn btn-primary" href="/create">创建新订单</a></div>
	<br>
	</div>
	<div > 
		<a class="btn btn-primary" id="all">显示所有订单 </a>
		<a class="btn btn-primary" id="inital">显示初始订单 </a>
		<a class="btn btn-primary" id="shipping">显示转运中订单 </a>
		<a class="btn btn-primary" id="delivered">显示已完成订单 </a>
	</div>
	<table class="table" id="dashboard">
   	<caption>订单列表</caption>
  	<thead>
      	<tr>
      	<th> </th>
		<th>ID</th>
		<th>发件人</th>
		<th>收件人</th>
		<th>包裹位置</th>
		<th>包裹状态</th>
		<th>订单更新日期</th>
		<th>订单创建日期</th>
     	</tr>
   	</thead>

	<tbody>
	{% for order in orders %}
		<tr>
        <td> <a class="btn" href="/order_info/?order_id={{order.id}}">查询</a> </td>
        <td>{{order.id}}</td>
        <td>{{order.order.sender.name}}</td>
		<td>{{order.order.receiver.name}}</td>
		<td>{{order.location}}</td>
		<td><script type="text/javascript">document.write(orderStatusConvertChinese('{{order.status}}'))</script></td>
		<td>{{order.time}}</td>
		<td>{{order.order.create_time}}</td>
		</tr>
	{% endfor %}
      
   </tbody>
	</table>
    </body>
</html>
