<!DOCTYPE html>
<html>
    <head>
	{% load staticfiles %}
        <title>可达物流管理系统</title>
	<script src="//upcdn.b0.upaiyun.com/libs/jqueryui/jquery.ui-1.9.0.min.js"></script>
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- 引入 Bootstrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


	<script>
 		function formatDateTime(time) {
			var tDate = new Date(time);
			var tDate = new Date(time.replace(/\s/, 'T'));
  			var month = checkDDMMDigite((tDate.getMonth()+1)+"");
  			var date = checkDDMMDigite(tDate.getDate()+"");
  			var hour = checkDDMMDigite(tDate.getHours()+"");
 			var min = checkDDMMDigite(tDate.getMinutes()+"");
 			var curDate = tDate.getFullYear() + "-" + month + "-" + date + " " + hour + ":" + min;
 			return curDate;
 		}
 		function checkDDMMDigite(tt) {
 			if (tt.length == 1) {
 				tt = "0" + tt;
 			}
 			return tt;
 		}	</script>
	<script>
	    $(document).ready(function(){
	      $.ajax({
			    type: "GET",
			    url: "/ajax_all/",
			    dataType: "json",
			    success: function (data) {
			    	var content = generateTable(data);
			        $('#dashboard').html(content);
			    }
			}
	      	);
	      $('#all').click(function(){
	        $.ajax({
			    type: "GET",
			    url: "/ajax_all/",
			    dataType: "json",
			    success: function (data) {
			    	var content = generateTable(data);
			        $('#dashboard').html(content);
			    }
			});
	      })
	      $('#inital').click(function(){
	        $.ajax({
			    type: "GET",
			    url: "/ajax_inital/",
			    dataType: "json",
			    success: function (data) {
			    	var content = generateTable(data);
			        $('#dashboard').html(content);
			    }
			});
	      })
	      $('#shipping').click(function(){
	          $.ajax({
			    type: "GET",
			    url: "/ajax_shipping/",
			    dataType: "json",
			    success: function (data) {
			    	var content = generateTable(data);
			        $('#dashboard').html(content);
			    }
			});
	      })
	      $('#delivered').click(function(){
	          $.ajax({
			    type: "GET",
			    url: "/ajax_delivered/",
			    dataType: "json",
			    success: function (data) {
			    	var content = generateTable(data);
			        $('#dashboard').html(content);
			    }
			});
	      })
	    });
		
		function generateTable(data) {
				var content = '<table class="table" id="dashboard">';
		    	content += "<caption>订单列表</caption>";
		    	content += "<thead>";
		    	content += "<tr> <th> </th><th>ID</th><th>发件人</th><th>收件人</th><th>包裹位置</th><th>包裹状态</th><th>订单更新日期</th><th>订单创建日期</th></tr>";
		    	
		  		content += "</thead>";

		  		content += "<tbody>";
		      	
		        $.each(data, function (varvalue, order){
		          	content += '<td>  <a class="btn" href="/order_info/?order_id=' + order['order_id'] +'">查询</a></td>'
		          	content += '<td>' + order['order_id'] + '</td>';
		          	content += '<td>' + order['sender'] + '</td>';
		          	content += '<td>' + order['receiver'] + '</td>';
		          	content += '<td>' + order['location'] + '</td>';
		          	content += '<td>' + orderStatusConvertChinese(order['status']) + '</td>';
		          	content += '<td>' + formatDateTime(order['update_time']) + '</td>';
		          	content += '<td>' + formatDateTime(order['create_time']) + '</td>';
		          	content += '</tr>';
		        });  
		        content += "</tbody>";
		        content += "</table>";
		        return content;
		}

	</script>

	<script type="text/javascript">
		function orderStatusConvertChinese(status) {
			if (status == 'initial') {
				return '初始接单';
			}
			else if (status == 'shipping') {
				return '转运中';
			}
			else {
				return '已完成';
			}
		}
	</script>

    	</head>
    
	<body>
	
	<!-- Navigation Bar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		    <div class = "navbar-header"> 
			<a class = "navbar-brand"> 可达物流管理系统 </a></div>
			<ul class="nav nav-tabs navbar-left">  
				<li class="acitve"><a href="/">首頁 </a></li>
				<li><a href="/logout">登出</a></li>
			</ul>
		</div>
	</nav>
	
	<div class="well well-lg">
        <p>欢迎您， {{ user.email }}</p>
        <div><a class="btn btn-primary " href="/create">创建新订单</a> </div>
	<br>
	</div>
	
	<div class="text-center"> 
		<a class="btn btn-primary" id="all">显示所有订单 </a>
		<a class="btn btn-primary" id="inital">显示初始订单 </a>
		<a class="btn btn-primary" id="shipping">显示转运中订单 </a>
		<a class="btn btn-primary" id="delivered">显示已完成订单 </a>
	</div>

	<table class="table" id="dashboard">

	</table>
    </body>
</html>
