<!DOCTYPE html>
<html>
    <head>
	{% load staticfiles %}
        <title>可达物流管理系统</title>
	<script src="//upcdn.b0.upaiyun.com/libs/jqueryui/jquery.ui-1.9.0.min.js"></script>
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- 引入 Bootstrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


	<script>
 		function formatDateTime(time) {
 			dateStr = time.split('.')[0]
 			var a=dateStr.split(" ");
			var d=a[0].split("-");
			var t=a[1].split(":");
			var tDate = new Date(d[0],(d[1]-1),d[2],t[0],t[1],t[2]);
			var month = checkDDMMDigite((tDate.getMonth()+1)+"");
  			var date = checkDDMMDigite(tDate.getDate()+"");
  			var hour = checkDDMMDigite(tDate.getHours()+"");
 			var min = checkDDMMDigite(tDate.getMinutes()+"");
 			var curDate = tDate.getFullYear() + "-" + month + "-" + date + " " + hour + ":" + min;
			console.log(curDate);
 			return curDate;
 		}
 		function checkDDMMDigite(tt) {
 			if (tt.length == 1) {
 				tt = "0" + tt;
 			}
 			return tt;
 		}	
 	</script>

	<script type="text/javascript">
		function orderStatusConvertChinese(status) {
			if (status == 'initial') {
				return '初始接单';
			}
			else if (status == 'shipping') {
				return '转运中';
			}
			else {
				return '已完成';
			}
		}
	</script>

    	</head>
    
	<body>
	
	<!-- Navigation Bar -->
	<!--<nav class="navbar navbar-default">
		<div class="container-fluid">
		    <div class = "navbar-header"> 
			<a class = "navbar-brand"> 可达物流管理系统 </a></div>
			<ul class="nav nav-tabs navbar-left">  
				<li class="acitve"><a href="/">首頁 </a></li>
				<li><a href="/logout">登出</a></li>
			</ul>
		</div>
	</nav>-->
	{% include 'kd/nav.html' %}

	<div class="well well-lg">
        <p>欢迎您， {{ user.email }}</p>
        <div><a class="btn btn-primary " href="/create">创建新订单</a> <a class="btn btn-primary " href="/search_order_insider"> 搜索订单</a> </div>
	<br>
	</div>
	
	<div class="text-center"> 
		<a href="?order_type=all&time=create_time&asc=0&page=1" class="btn btn-primary" id="all">显示所有订单 </a>
		<a href="?order_type=initial&time=create_time&asc=0&page=1" class="btn btn-primary" id="inital">显示初始订单 </a>
		<a href="?order_type=shipping&time=create_time&asc=0&page=1" class="btn btn-primary" id="shipping">显示转运中订单 </a>
		<a href="?order_type=delivered&time=create_time&asc=0&page=1" class="btn btn-primary" id="delivered">显示已完成订单 </a>
	</div>

	<div class="text-right">
            排序: 
            <select id="sort_selection">
            	<option ></option>
    			<option value="" href="?order_type={{order_type}}&time=create_time&asc=0&page=1">创建订单时间从新到旧</option>
    			<option value="" href="?order_type={{order_type}}&time=create_time&asc=1&page=1">创建订单时间从旧到新</option>
    			<option value="" href="?order_type={{order_type}}&time=update_time&asc=0&page=1">更新订单时间从新到旧</option>
    			<option value="" href="?order_type={{order_type}}&time=update_time&asc=1&page=1">更新订单时间从旧到新</option>
  			</select>
	</div>
	<script>
document.getElementById('sort_selection').onchange = function() {
    window.location.href = this.children[this.selectedIndex].getAttribute('href');
}
</script>

	<table class="table" id="dashboard">
	<caption>订单列表</caption>
	<thead>
	<tr> <th> </th><th>ID</th><th>发件人</th><th>收件人</th><th>包裹位置</th><th>包裹状态</th><th>订单更新日期</th><th>订单创建日期</th></tr>
	</thead>
	<tbody>

	{% for order in orders %}
    	<td> <a class="btn" href="/order_info/?order_id={{order.order_id}}">查询</a></td>
    	<td> {{order.order_id}} </td>
    	<td>{{order.sender}} </td>
    	<td>{{order.receiver}} </td>
    	<td>{{order.location}} </td>
    	<td><script type="text/javascript">document.write(orderStatusConvertChinese('{{order.status}}'))</script></td>
    	<td><script type="text/javascript">document.write(formatDateTime('{{order.update_time}}'))</script></td>
    	<td><script type="text/javascript">document.write(formatDateTime('{{order.create_time}}'))</script></td>
    	</tr>
	{% endfor %}
	</tbody>
	</table>
	<div class="pagination">
    <span class="step-links">
        {% if orders.has_previous %}
            <a href="?order_type={{order_type}}&page={{ orders.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
             第 {{ orders.number }} 页  共 {{ orders.paginator.num_pages }}页
        </span>

        {% if orders.has_next %}
            <a href="?order_type={{order_type}}&page={{ orders.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div>
    </body>
</html>
